<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="icon" type="image/x-icon" href="https://cdn.icon-icons.com/icons2/2714/PNG/512/instagram_logo_thin_icon_171701.png">
    <link rel="icon" type="image/x-icon" href="https://cdn.icon-icons.com/icons2/2714/PNG/512/instagram_logo_thin_icon_171701.png">
</head>

<body>
    <div class="heading">Create Post</div>
    <div id="container">
        <!-- action не забыть -->
        <form method="post" action="">
            <input type="text" id="inputtitle" placeholder="add title" name="title" required>
            <textarea id="inputmessage" placeholder="add your text here" name="message" required></textarea>
            <input type="text" id="inputcategorytitle" placeholder="add tags" name="category" required>
            <input type="text" data-role="taginput" name="tags" value="" required>
            <input type="submit" value="Create Post">
        </form>
    </div>

    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
    <script src="js/script.js"></script>
</body>

</html>