<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Post</title>
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="icon" type="image/x-icon" href="https://cdn.icon-icons.com/icons2/2714/PNG/512/instagram_logo_thin_icon_171701.png">
    <link rel="icon" type="image/x-icon" href="https://cdn.icon-icons.com/icons2/2714/PNG/512/instagram_logo_thin_icon_171701.png">
</head>
 
<body>
    <div class="title">Create Post</div>
    <div class="createpost">
        <div class="container">
            <div class="createpost__container">
                <form method="post" action="createpost">

                    <div class="inputBox">
                        <input type="password"  name="password" required>
                        <span>add title</span>
                        <i></i>
                    </div>

                    <div class="inputBox">
                        <input type="password"  name="password" required>
                        <span>add your text here</span>
                        <i></i>
                    </div>
                    <div class="form__group ">
                        <label for="">add tags (to add tag type smth and press space or enter)</label>
                        <input type="text" data-role="taginput" value="">
                    </div>
                    <button type="submit">"Create Post</button>
                </form>
            </div>
        </div>
    </div>

    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
    <script src="js/script.js"></script>
</body>

</html>