body {
    background: #E5E5E5;
}

.errorPageBody {
    background: #FFFFFF;
}

.signinpage {
    transition: all 0.3s ease-in-out;
}

.signinpage.active {
    background: #093545;
}

p,
h1,
span {
    transition: all 0.3s ease-in-out;
}

.signinpage.active p,
.signinpage.active h1,
.signinpage.active span {
    color: #FFFFFF;
}

.signin__container {
    background: url("light.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    height: 100vh;
    transition: all 0.3s ease-in-out;
}

.signinpage.active .signin__container {
    background: url("dark.svg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    height: 100vh;
}

.signin__container .container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    font-weight: 400;
    font-size: 64px;
    text-align: center;
    color: #224957;
    margin-bottom: 40px;
}

.signin__container p,
.errorPage p {
    font-size: 16px;
    text-align: center;
    color: #224957;
    margin-bottom: 50px;
}

.errorPage p {
    margin-bottom: 20px;
}

.signin__container form button {
    width: 400px;
    height: 45px;
    font-size: 16px;
    text-align: center;
    text-transform: capitalize;
    color: #224957;
    background: #20DF7F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border: 1px solid #20DF7F;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    margin-left: auto;
    margin-right: auto;
}

.signin__container form button:hover {
    background: #224957;
    color: #fff;
    border-color: #224957;
}


/*  */

.signin__container form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.inputBox {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 400px;
    height: 45px;
    margin-bottom: 40px;
}

.inputBox input {
    position: relative;
    width: 100%;
    padding: 13px 18px;
    background: transparent;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-size: 14px;
    z-index: 10;
}

.inputBox span {
    position: absolute;
    left: 0;
    padding: 10px 10px 10px;
    font-size: 14px;
    color: #224957;
    pointer-events: none;
    transition: 0.5s;
    background: #E5E5E5;
    z-index: 60;
    transition: all 0.3s ease-in-out;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
    color: #224957;
    transform: translateX(0px) translateY(-34px);
    font-size: 0.75em;
    background: none;
}

.inputBox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #224957;
    border-radius: 4px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 9;
}

.inputBox input:valid~i,
.inputBox input:focus~i {
    height: 44px;
}


/* LightDarkMode */

.LightDarkMode {
    position: fixed;
    right: 50px;
    top: 50px;
    width: 100px;
    height: 30px;
    border-radius: 30px;
    border: 3px solid #224957;
    transition: all 0.3s ease-in-out;
}

.LightDarkMode__btn {
    position: absolute;
    top: -2px;
    left: -2px;
    height: 28px;
    background: #224957;
    width: 52%;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.LightDarkMode.active {
    border-color: #FFFFFF;
}

.LightDarkMode.active .LightDarkMode__btn {
    right: -2px;
    left: auto;
    background: #FFFFFF;
}


/*  */

.signinpage.active .inputBox i {
    background: #224957;
}

.signinpage.active .inputBox span,
.signinpage.active form button {
    color: #FFFFFF;
}

.signinpage.active .inputBox span {
    background: #093545;
}

.signinpage.active .inputBox input:valid~span,
.signinpage.active .inputBox input:focus~span {
    background: none;
}


/*  */

.invalid {
    color: red;
    font-weight: bold;
}

.valid {
    color: green;
    font-weight: bold;
}


/*  */

.errorPage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.errorPage p {
    text-align: center;
}

.errorlink {
    width: 220px;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 3px;
    color: #000000;
    filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.306414));
    background: #FFFFFF;
    border-radius: 5px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in;
    margin: 0 auto;
    text-transform: uppercase;
    margin-top: 30px;
}

.errorlink:hover {
    transform: rotate(10deg);
}

.errorPage_img {
    width: 500px;
    height: 300px;
    margin: 0 auto;
}

.errorPage_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/*formLoader*/

.form_loader {
    position: fixed;
    display: none;
    z-index: 999;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.form_loader_block {
    position: absolute;
    width: 350px;
    max-width: 90%;
    left: 50%;
    top: 45%;
    padding: 40px;
    border-radius: 10px;
    background-color: #fff;
    transform: translate(-50%, -50%);
}

.form_loader_animate {
    width: 80px;
    height: 80px;
    margin: 0 auto 20px;
}

.form_loader_animate:after {
    content: "";
    display: block;
    width: 85%;
    height: 85%;
    /*margin: 8px;*/
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #093545 transparent #093545 transparent;
    animation: loader-animate 1.2s linear infinite;
}

.form_loader_text {
    font-size: 20px;
    text-align: center;
}

@keyframes loader-animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*formLoader*/